header li {
    list-style: none;
}

a:link, a:visited {
text-decoration: none;
background-color: yellow;
border: 1px solid pink;
color: black;
display: block;
width: 200px;
align-items: center;
text-align:left;
margin-bottom: 1px;
}

a:hover {
background-color: red;
color: white;
text-align: center;
}

a:active {
background-color: green;
color: white;
}

header li:nth-child(2) {
font-weight: 800;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: cornflowerblue;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
width: 50px;
}

.blue {
color: blueviolet;
}

div, #top {
font-size: large;
color: yellowgreen;
}
article ~ p {
font-size: larger;
color: blue;
background-color: yellow;
width: 300px;
}

ol li:nth-child(odd):hover {
font-weight: 600;
color: blue;
}